<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<div class="page-width">
  <div
    class="product_a_plus_container"
    data-masonry='{"itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'
  >
    <div class="grid-sizer"></div>
    {% if product.metafields.content.show_a_plus != false and product.metafields.content.a_plus.value != blank %}
      {% for image in product.metafields.content.a_plus.value %}
        <div class="grid-item">
          <img src="{{ image | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

<style>
  .product_a_plus_container {
    display: block;
    margin: 0 auto 52px;
    position: relative;
  }

  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }

  .grid-item {
    margin-bottom: 20px;
    float: left;
    transition: all 0.3s ease-in-out;
  }

  .grid-item img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    display: block;
  }

  @media (max-width: 768px) {
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
  }

  @media (max-width: 480px) {
    .grid-sizer,
    .grid-item {
      width: 100%;
    }
  }
</style>

{% schema %}
{
  "name": "Product A Plus",
  "settings": [],
  "presets": [
    {
      "name": "Product A Plus"
    }
  ]
}
{% endschema %}
