<div class="product_a_plus_container">
  {% if product.metafields.content.show_a_plus != false and product.metafields.content.a_plus.value != blank %}
    {% for image in product.metafields.content.a_plus.value %}
      <img src="{{ image | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
    {% endfor %}
  {% endif %}
</div>

<style>
  .product_a_plus_container {
    column-count: 2;
    column-gap: 20px;
    max-width: 80rem;
    margin: 0 auto 52px;
  }
  @media (max-width: 1400px) {
    .product_a_plus_container {
      max-width: 94%;
    }
  }
  .product_a_plus_container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    break-inside: avoid;
    border-radius: 6px;
    display: block;
  }

  @media (min-width: 768px) {
    .product_a_plus_container {
      column-count: 3;
    }
  }
</style>

{% schema %}
{
  "name": "Product A Plus",
  "settings": [],
  "presets": [
    {
      "name": "Product A Plus"
    }
  ]
}
{% endschema %}
