<div class="page-width product_a_plus_container">
  {% if product.metafields.content.show_a_plus != false and product.metafields.content.a_plus.value != blank %}
    {% for image in product.metafields.content.a_plus.value %}
      <img src="{{ image | img_url: 'large' }}" alt="{{ image.alt | escape }}">
    {% endfor %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Product A Plus",
  "settings": [],
  "presets": [
    {
      "name": "Product A Plus"
    }
  ]
}
{% endschema %}
