<div class="page-width product_a_plus_container">
  {% if product.metafields.content.show_a_plus != false and product.metafields.content.a_plus.value != blank %}
    {% for image in product.metafields.content.a_plus.value %}
      {% assign is_wide = false %}
      {% if image.width > image.height %}
        {% assign is_wide = true %}
      {% endif %}
      <img
        src="{{ image | img_url: '1024x1024' }}"
        alt="{{ image.alt | escape }}"
        class="{% if is_wide %}wide{% endif %}"
      >
    {% endfor %}
  {% endif %}
</div>

<style>
  .product_a_plus_container {
    column-count: 2;
    column-gap: 20px;
    width: var(--page-width);
    margin: 0 auto 52px;
  }

  .product_a_plus_container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    break-inside: avoid;
    border-radius: 6px;
    display: block;
  }

  /* Horizontal images span full width */
  .product_a_plus_container img.wide {
    width: 66%;
    display: block;
    column-span: all; /* This has no effect in column layout */
    margin-bottom: 24px;
  }

  @media (min-width: 768px) {
    .product_a_plus_container {
      column-count: 3;
    }
  }
</style>

{% schema %}
{
  "name": "Product A Plus",
  "settings": [],
  "presets": [
    {
      "name": "Product A Plus"
    }
  ]
}
{% endschema %}
